p {
  background: #ccc;
  font-size: 16px;
  padding: 10px;
}
h2 {
  text-align: center;
  text-transform: uppercase;
}
.articleblock {
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 5px;
}
